
<nav class="navigation">
  <ul>
    <li>
    <ng-container *ngIf="isLoggedIn(); else loggedOut">
      <a (click)="logout()" class="nav-link">Logout</a>
    </ng-container>
    <ng-template #loggedOut>
      <a routerLink="/login" class="nav-link" >Login</a>
    </ng-template>
    </li>
    <li><a routerLink="/dashboard" class="nav-link">Dashboard</a></li>
    <li><a routerLink="/attendance-summary" class="nav-link">Attendance</a></li>
    <li><a routerLink="/engagement-summary" class="nav-link">Engagement</a></li>
    <li><a routerLink="/students-at-risk" class="nav-link">Students at Risk</a></li>
    <li><a routerLink="/monitor-live-class" class="nav-link">Monitor Class</a></li>
  </ul>
</nav>
<div class="container">

  <router-outlet></router-outlet>



</div>
<footer class="footer">
  <p>&copy; 2025 Smart Classroom Vision. All rights reserved.</p>
</footer>
